@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap');

@media (prefers-reduced-motion:no-preference) {
    :root {scroll-behavior: smooth}
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

.header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

.header-title {
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    background-color: white;
}

.card {
    min-width: 576px;
    max-width: 1024px;
    padding: 2rem;
    background-color: white;
    margin: 0 auto;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.card h2 {
    margin-bottom: 1rem;
}

.input-form {
    margin: .5rem;
}

.input-form label {
    font-weight: bold;
    font-size: 18px;

}

.input-form input[type=text], input[type=search], input[type=number] {
    font-family: 'Jost', sans-serif;
    width: 100%;
    display: block;
    background: rgba(165, 165, 165, 0.10);
    border-radius: 2rem;
    padding: .8rem 1rem;
    font-size: 18px;
    outline: none;
    border: none;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
}

.input-form input[type=text]:focus, input[type=search]:focus, input[type=number]:focus {
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
}

.input-form input[type=checkbox] {
    width: 20px;
}

.input-form .check-label {
    font-weight: 400;
}

.submit-button {
    width: 100%;
    margin-top: 1rem;
    border: none;
    border-radius: 2rem;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    padding: 1rem;
    color: white;
    background-color: black;
    box-shadow: 0 4px 10px 0 rgba(45, 54, 65, 0.75);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.submit-button:hover {
    background-color: #29323c;
    transform: translate(0, -5px);
}

.search {
    margin-top: 2rem;
}

.book-shelf {
    margin-top: 2rem;
}

.book-item {
    border-radius: .5rem;
    margin-top: 16px;
    padding: 12px 24px 12px 24px;
    background: rgba(202, 200, 200, 0.5);
}

.button-sudah-dibaca, .button-belum-dibaca, .button-hapus-buku {
    font-family: 'Jost', sans-serif;
    width: auto;
    padding: .5rem 1rem;
    margin-top: 1rem;
    color: white;
    background-color: black;
    cursor: pointer;
    border: none;
    border-radius: 2rem;
    box-shadow: 0 4px 10px 0 rgba(45, 54, 65, 0.75);
    transition: all .2s ease-in-out;
}

.button-hapus-buku {
    margin-left: .5rem;
}

.button-sudah-dibaca:hover, .button-belum-dibaca:hover, .button-hapus-buku:hover {
    background-color: #29323c;
    transform: translate(0, -5px);
}

.footer {
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    margin-top: 5rem;
    padding: 2rem;
    text-align: center;
}

.footer .footer-text, .footer-text a {
    color: white;
}